@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    border: none;
    vertical-align: baseline;
    text-decoration: none;
}

.row {
    display: flex;
    flex-direction: row;
}

header, main {
    width: 1000px;
    margin: 30px auto;
}

header {
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 100px;
}

header nav ul {
    list-style: none;
    align-items: center;
}

header nav ul li {
    margin: 0 20px;
    color: #0DA697;
}

.btn {
    background-color: #d94f25;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
}

main {
    display: flex;
    flex-direction: column;
}

section img {
    height: 460px;
}

footer ul {
    list-style: none;
    align-items: center;
}