@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    border: none;
    vertical-align: baseline;
    text-decoration: none;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header, main, footer {
    width: 1000px;
    margin: 15px auto 0 auto;
}

header {
    justify-content: space-between;
}

header img {
    height: 100px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    margin: 0 20px;
    color: #0DA697;
}

.btn {
    background-color: #D94929;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
}

body {
    background-image: url('../img/bolha-background.png');
    background-repeat: no-repeat;
    background-position: left center;
}

main {
    display: flex;
    flex-direction: column;
}

section img {
    height: 460px;
    margin-left: 50px;
}

article h1 {
    font-size: 3em;
    color: #1E1559;
}

article h2 {
    text-transform: uppercase;
    letter-spacing: 9px;
    font-size: 1.5em;
    color: #F2A341;
    margin: 0 0 20px 10px;
}

article p {
    font-size: 1em;
    padding: 10px;
    margin-bottom: 30px;
    color: #1E1559;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin: 20px 20px 0 20px;
}

footer ul li img {
    height: 20px;
}